
    <h1>Sign Up</h1>

    <fieldset>
      <legend></legend>
      <div class="col-md-12">
      <form name='regForm' novalidate>

        <input type="text" name="firstName" placeholder="Firsnt Name"
          ng-model="vm.user.firstName"
          required>
          <span
            ng-if="(regForm.firstName.$error.required) && regForm.firstName.$touched">
           First Name is required
          </span>
         
          <br>
          <input type="text" name="lastName" placeholder="Last Name"
          ng-model="vm.user.lastName"
          required>
          <span
            ng-if="(regForm.lastName.$error.required) && regForm.lastName.$touched">
           Last Name is required
          </span>
          <br>

        <input type="email" name="email" placeholder="Email"
          ng-model="vm.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="vm.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})" required>
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>
 <input type="text" name="favorite" placeholder="Favorite menu number"
          ng-model="vm.user.favorite">
          <span ng-if="!vm.menuExists">
            No such menu number exists.
          </span>
          <br>
        <button class="btn-default btn-primary"
          ng-disabled="regForm.$invalid"
          ng-click="vm.submit()">Submit</button>

          <div style="margin-top: 10px;">
            Your information has been saved.
          </div>

      </form>
       </div>
    </fieldset>
             


