<!DOCTYPE html>
<html ng-app="SimpleFormsApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Sign Up</title>
  </head>
  <body ng-controller="SignUpController as reg">
    <h1>Sign Up</h1>

    <fieldset>
      <legend>Sign Up</legend>
      <form name='regForm' novalidate>

        <input type="text" name="username" placeholder="Firsnt Name"
          ng-model="reg.user.username"
          required>
          {{ reg.user.username }}
          <span
            ng-if="(regForm.username.$error.required) && regForm.username.$touched">
           First Name is required
          </span>
         
          <br>
          <input type="text" name="username" placeholder="Firsnt Name"
          ng-model="reg.user.username"
          required>
          {{ reg.user.username }}
          <span
            ng-if="(regForm.username.$error.required) && regForm.username.$touched">
           First Name is required
          </span>
          <br>

        <input type="email" name="email" placeholder="Email"
          ng-model="reg.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="reg.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>
 <input type="text" name="favorite" placeholder="Favorite menu number"
          ng-model="reg.user.favorite">
          <span ng-if="regForm.favorite.$invalid && regForm.favorite.$touched">
            No such menu number exists.
          </span>
          <br>
        <button
          ng-disabled="regForm.$invalid"
          ng-click="reg.submit()">Submit</button>

          <div style="margin-top: 10px;">
            Your information has been saved.
          </div>
      </form>
    </fieldset>

<!--     <div id="info" ng-if="reg.completed">
      Username: {{ reg.user.username}} <br>
      Email: {{ reg.user.email}} <br>
      Phone: {{ reg.user.phone }}
    </div> -->

    <script src="lib/angular.min.js"></script>
    <script src="src/app.js"></script>

  </body>
</html>
